/*reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
/*add font*/
@font-face {
	font-family: 'Raleway Regular'; /*jak to działa z używaniem różnych czcionek? mam dać im tu inne font-family czy co??*/
  /*dlaczego mi to nie działa????*/
	src: local('../fonts/Raleway-Regular'),
		url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Black';
	src: local('../fonts/Raleway-Black'),
		url('../fonts/Raleway-Black.woff2') format('woff2'),
		url('../fonts/Raleway-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Extra Bold';
	src: local('../fonts/Raleway-ExtraBold');
	src:
		url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
		url('../fonts/Raleway-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Bold';
	src: local('../fonts/Raleway-Bold'),
		url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway BlackItalic';
	src: local('../fonts/Raleway-BlackItalic'),
		url('../fonts/Raleway-BlackItalic.woff2') format('woff2'),
		url('../fonts/Raleway-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Raleway Light';
	src: local('../fonts/Raleway-Light'),
		url('../fonts/Raleway-Light.woff2') format('woff2'),
		url('../fonts/Raleway-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Italic';
	src: local('../fonts/Raleway-Italic'),
		url('../fonts/Raleway-Italic.woff2') format('woff2'),
		url('../fonts/Raleway-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Raleway Thin';
	src: local('../fonts/Raleway-Thin'),
		url('../fonts/Raleway-Thin.woff2') format('woff2'),
		url('../fonts/Raleway-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
/*clearfix*/
.clearfix:before, .clearfix:after {
  clear: both;
  content: "";
  display: table;
}
/*main css*/
body {
  font-family: 'Raleway Regular', Arial, sans-serif;
}
section {
  width: 100%;
}
header {
  background-color: black;
  height: 40px;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.logo {
  float: left;
  width: 200px;
}
.main-menu {
  float: right;
}
.logo, .main-menu {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 2px;
}
.logo span {
  color: #09be94;
  font-family: 'Raleway Black', Arial, sans-serif;
  font-size: 15px;
}
.main-menu > li{
  float: right;
  margin-left: 25px;
  margin-right: 25px;
  font-weight: 600;
}
.main-menu > li:first-of-type {
  margin-right: 0;
}
.hover-menu > li:first-of-type::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  left: 40px;
  transform: rotate(45deg);
  border-top: 10px solid black;
  border-left: 10px solid black;
}
.hover-menu { /*słabo bo to zwiększa wysokość diva, i przez to kolejną sekcję mam zbyt oddaloną ku dołowi - co można z tym zrobić? jak mi się uda to zmienić, to muszę zwiększyć black chair i napisy w tej sekcji, i zwiększyć marginesy od góry*/
  /*visibility: hidden;*/
  background-color: black;
  margin-top: 15px;
  margin-right: 200px;
  padding: 5px 25px 5px 15px;
  position: relative;
  float: right;
  color: white;
  line-height: 30px;
  font-size: 14px;
}
#carrousel {
  background-color: lightgrey; /*add gradient here*/
  height: 580px;
}
.arrow { /*wrzucić ładniejsze strzałki*/
  width: 60px;
  margin-top: 100px;
  font-size: 120px;
  font-weight: 300;
  color: #09be94;
}
.left-arrow {
  float: left;
}
.right-arrow {
  float: right;
  text-align: right;
}
.black-chair { /*dalej powód dla którego w końcu ustawiłam go jako tło --> ten obrazek ma za dużo tła po bokach - czy muszę go wycinać, żeby się wszystko pomieściło tak jak w layoucie? Jest cały czas za mały, ale na stronie zajmuje za dużo miejsca (strzałka po lewej i tekst po prawej muszą być bliżej). To tło jest przezroczyste - czy mam go wrzucić w jakiejś innej warstwie? Ale jak? jako pseudoelement?*/
  width: 480px;
  height: 490px;
  margin-top: 0;
  float: left;
  background-image: url("../images/black_chair.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.main-text {
  float: left;
  width: 450px;
  margin-top: 80px;
  margin-left: 30px;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 36px;
}
h1 span {
  color: #09be94;
  font-family: 'Raleway Bold', Arial, sans-serif;
  font-size: 42px;
}
.info-text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 35px;
  letter-spacing: 1px;
}
.button {
  border-radius: 10px;
  background-color: #09be94;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.see-more-button {
  width: 260px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  margin: 0 auto;
}
#content {
  height: 400px;
}
.box-img { /*czym jest ten margines od góry i od dołu w zewnętrznym divie?? skąd on się bierze??*/
  width: 365px;
  height: 250px;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 20px;
}
.box-img1 {
  background-image: url(../images/box1_img.jpg);
}
.box-img2 {
  background-image: url(../images/box2_img.jpg);
  margin-left: 36px;
  margin-right: 36px;
}
.white-belt {
  width: 355px;
  height: 80px;
  margin-top: 150px;
  float: right;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.57);
}
.white-belt p {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 15px;
}
.white-belt span {
  text-transform: uppercase;
}
.green-line { /*tu chyba można skrócić kod - sprawdzić*/
  width: 170px;
  margin-left: 15px;
}
hr {
  border: 4px solid #09be94;
}
.finds-all-inputs {
  width: 365px;
  height: 280px;
  float: left;
  margin-top: 20px;
  border: 2px solid #e0e0e0; /*to chyba jednak jest shadow - poprawić*/
}
.finds-all-inputs p {
  color: grey;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  margin: 10px 25px 20px 25px;
  font-weight: 600;
}
.finds-all-inputs p:first-child {
  color: black;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 25px 25px 0 25px;
}
.finds-all-inputs .green-line {
  margin-left: 25px;
}
#price-list {
  background-color: #f2f2f2;
  height: 800px;
}
#price-list h2,  #contact h2 {
  text-transform: uppercase;
  font-size: 22px;
  padding: 50px 0 5px 0;
  color: #4d4d4d;
  letter-spacing: 1px;
}
#price-list h2 + hr, #contact h2 + hr {
  border: 4px solid #09be94;
  width: 330px;
}
/*frame not active start*/
.frame {
  position: relative;
  height: 560px;
  width: 365px;
  border: 2px solid #cfcfcf;
  padding: 25px;
  z-index: 11;
  float: left;
  margin-top: 80px;
  background-color: #fafafa;
}
.frame:nth-of-type(2){
  margin-left: 36px;
  margin-right: 36px;
}
.white-circle {
  height: 60px;
  width: 60px;
  border: 2px solid #cfcfcf;
  border-radius: 50%;
  z-index: 12;
  position: absolute;
  top: -43px;
  left: 50%;
  right: 50%;
  margin-left: -30px;
  background-color: #fafafa;
}
.grey-circle {
  height: 30px;
  width: 30px;
  border: 2px solid #cfcfcf;
  border-radius: 50%;
  z-index: 13;
  background-color: #cfcfcf;
  position: relative;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  margin-left: -15px;
  margin-top: -15px;
}
.frame h3 {
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
  color: #09be94;
  font-weight: 300;
  margin-bottom: 30px;
}
.price {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #cfcfcf;
  margin: 0 auto;
  padding-top: 35px;
  background-color: white;
}
.price p {
  color: #bfbfbf;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}
.price p:first-child {
  font-size: 46px;
  margin-bottom: 2px;
}
.price p sup {
  font-size: 14px;
}
.price p span {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}
table {
  margin-top: 40px;
  width: 361px;
  border-collapse: collapse;
  line-height: 50px;
  font-size: 24px;
  color: #a6a6a6;
  text-align: center;
  position: absolute;
  left: 0;
}
table tr:nth-child(odd){
  background-color: #dbdbdb;
}
table tr:nth-child(even){
  background-color: #f2f2f2;
}
.button-join {
  height: 36px;
  width: 140px;
  font-size: 16px;
  line-height: 36px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  right: 50%;
  margin-left: -70px;
  font-weight: bold;
}
/*frame-active start*/
.frame.frame-active {
  border: 2px solid #09be94;/*inny kolor*/
  background-color: #09be94; /*inny kolor*/
}
.frame.frame-active .white-circle {
  border: 2px solid #09be94; /*inny kolor*/
  background-color: #09be94; /*inny kolor*/
}
.frame.frame-active .grey-circle {
  border: 2px solid white; /*inny kolor*/
  background-color: white; /*inny kolor*/
}
.frame.frame-active h3 {
  color: white; /*inny kolor*/
}
.frame.frame-active .price {
  border: 2px solid #09be94; /*inny kolor*/
}
.frame.frame-active .price p {
  color: #09be94; /*inny kolor*/
}
.frame.frame-active table tr:nth-child(odd){
  background-color: #fafafa; /*inny kolor*/
}
.frame.frame-active .button-join {
  color: #09be94; /*inny kolor*/
  background-color: white; /*inny kolor*/
}
#contact {
  height: 600px;
}
.contact-left {
  width: 750px;
  float: left;
}
.input {
  width: 725px;
  border: 1px solid #09be94; /*zrobić jaśniejszą ramkę*/
}
.input-text {
  height: 60px;
  font-size: 26px;
  font-family: 'Raleway Regular', Arial, sans-serif;
  /*jak mam sformatować tekst wpisywany, nie formatując jednocześnie placeholdera????
  chodzi mi o padding*/
}
#name {
  margin-top: 50px;
}
#email {
  margin-top: 25px;
  margin-bottom: 25px;
}
.input-textarea {
  height: 220px;
  resize: none;
  font-size: 26px;
  font-family: 'Raleway Regular', Arial, sans-serif;
  /*wygląda na to, że ustawienie line-height w placeholderze ustawiło mi line-height też podczas wpisywania tekstu :(*/
}

/*code to style placeholders from http://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-size: 26px;
  padding-left: 15px;
  line-height: 60px;
  font-family: 'Raleway Regular', Arial, sans-serif;
  color: #bdbdbd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 26px;
  padding-left: 15px;
  line-height: 60px;
  font-family: 'Raleway Regular', Arial, sans-serif;
  color: #bdbdbd;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 26px;
  padding-left: 15px;
  line-height: 60px;
  font-family: 'Raleway Regular', Arial, sans-serif;
  color: #bdbdbd;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 26px;
  padding-left: 15px;
  line-height: 60px;
  font-family: 'Raleway Regular', Arial, sans-serif;
  color: #bdbdbd;
}
.contact-right {
  width: 380px;
  float: right;
}
.red-chair {
  width: 300px;
  margin: 20px 0 30px 15px;
}
.data-accept {
  margin-bottom: 24px;
}
.data-accept p {
  float: left;
  width: 300px;
  color: #bdbdbd;
  font-size: 21px;
  margin-top: 3px;
  margin-left: 10px;
}
.form-ok {
  float: left;
  border: 1px solid #09be94; /*jak to się stanie inputem to border będzie tu niepotrzebny*/
  padding: 5px 1px 5px 1px;
}
/*jak zresetować defaultowe ostylowanie formularzy? jak zmienię to na i<input type="submit"> to się włącza shadow itp, a będę musiała to zrobić!*/
.button-send {
  width: 350px;
  height: 70px; /*czemu nie działa wysokość?*/
  font-size: 22px;
  line-height: 70px;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 1px;
}
footer {
  height: 60px;
  letter-spacing: 2px;
}
#copyright {
  text-transform: capitalize;
  font-size: 16px;
  float: left;
  width: 785px;
  font-weight: 700;
  padding-top: 16px;
  color: #b2b2b2;
}
#icons {
  float: left;
}
#footer-logo {
  float: right;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  color: #a2a2a2;
}
#footer-logo span {
  font-family: 'Raleway Bold', Arial, sans-serif;
  font-size: 22px;
}
