/*reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
/*add font*/
@font-face {
	font-family: 'Raleway Regular'; /*jak to działa z używaniem różnych czcionek? mam dać im tu inne font-family czy co??*/
  /*dlaczego mi to nie działa????*/
	src: local('../fonts/Raleway-Regular'),
		url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Black';
	src: local('../fonts/Raleway-Black'),
		url('../fonts/Raleway-Black.woff2') format('woff2'),
		url('../fonts/Raleway-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Extra Bold';
	src: local('../fonts/Raleway-ExtraBold');
	src:
		url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
		url('../fonts/Raleway-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Bold';
	src: local('../fonts/Raleway-Bold'),
		url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway BlackItalic';
	src: local('../fonts/Raleway-BlackItalic'),
		url('../fonts/Raleway-BlackItalic.woff2') format('woff2'),
		url('../fonts/Raleway-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Raleway Light';
	src: local('../fonts/Raleway-Light'),
		url('../fonts/Raleway-Light.woff2') format('woff2'),
		url('../fonts/Raleway-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Italic';
	src: local('../fonts/Raleway-Italic'),
		url('../fonts/Raleway-Italic.woff2') format('woff2'),
		url('../fonts/Raleway-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Raleway Thin';
	src: local('../fonts/Raleway-Thin'),
		url('../fonts/Raleway-Thin.woff2') format('woff2'),
		url('../fonts/Raleway-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
/*clearfix*/
.clearfix:before, .clearfix:after {
  clear: both;
  content: "";
  display: table;
}
/*main css*/
body {
  font-family: 'Raleway Regular', Arial, sans-serif;
}
section {
  width: 100%;
}
header {
  background-color: black;
  height: 40px;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
h2 {
  float: left;
  width: 200px;
}
h2, .main-menu {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 2px;
}
h2 span {
  color: #09be94;
  font-family: 'Raleway Black', Arial, sans-serif;
  font-size: 15px;
}
.main-menu > li{
  float: right;
  margin-left: 25px;
  margin-right: 25px;
  font-weight: 600;
}
.main-menu > li:first-of-type {
  margin-right: 0;
}
.hover-menu > li:first-of-type::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  left: 40px;
  transform: rotate(45deg);
  border-top: 10px solid black;
  border-left: 10px solid black;
}
.hover-menu { /*słabo bo to zwiększa wysokość diva, i przez to kolejną sekcję mam zbyt oddaloną ku dołowi - co można z tym zrobić? jak mi się uda to zmienić, to muszę zwiększyć black chair i napisy w tej sekcji, i zwiększyć marginesy od góry*/
  /*visibility: hidden;*/
  background-color: black;
  margin-top: 15px;
  margin-right: 200px;
  padding: 5px 25px 5px 15px;
  position: relative;
  float: right;
  color: white;
  line-height: 30px;
  font-size: 14px;
}
#carrousel {
  background-color: lightgrey; /*add gradient here*/
  height: 500px;
}
.arrow { /*wrzucić ładniejsze strzałki*/
  width: 60px;
  margin-top: 90px;
  font-size: 100px;
  font-weight: 300;
  color: #09be94;
}
.left-arrow {
  float: left;
}
.right-arrow {
  float: right;
  text-align: right;
}
.black-chair {
  width: auto;
  height: 400px;
  margin-top: 0;
  float: left;
}
.main-text {
  float: left;
  width: 350px;
  margin-top: 60px;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 25px;
}
h1 span {
  color: #09be94;
  font-family: 'Raleway Bold', Arial, sans-serif;
  font-size: 32px;
}
.info-text {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 25px;
}
.button {
  border-radius: 10px;
  background-color: #09be94;
  text-transform: uppercase;
  color: white;
}
.see-more-button {
  width: 200px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  margin: 0 auto;
}
#content {
  height: 400px;
}
.box-img { /*czym jest ten margines od góry i od dołu w zewnętrznym divie?? skąd on się bierze??*/
  width: 360px;
  height: 250px;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 20px;
}
.box-img1 {
  background-image: url(../images/box1_img.jpg);
}
.box-img2 {
  background-image: url(../images/box2_img.jpg);
  margin-left: 35px;
  margin-right: 35px;
}
.white-belt {
  width: 355px;
  height: 80px;
  margin-top: 150px;
  float: right;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.57);
}
.white-belt p {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 15px;
}
.white-belt span {
  text-transform: uppercase;
}
.green-line {
  width: 170px;
  margin-left: 15px;
}
hr {
  border: 4px solid #09be94;
}
.finds-all-inputs {
  width: 380px;
  height: 280px;
  float: left;
  margin-top: 20px;
  border: 1px solid lightgrey; /*to chyba jednak jest shadow - poprawić*/
}
.finds-all-inputs p {
  color: grey;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  margin: 10px 25px 20px 25px;
  font-weight: 600;
}
.finds-all-inputs p:first-child {
  color: black;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 25px 25px 0 25px;
}
.finds-all-inputs .green-line {
  margin-left: 25px;
}
#price-list {
  background-color: lightgrey;
  height: 700px;
}
#contact {
  height: 450px;
}
footer {
  height: 60px;
}
